<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增房间页面</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.css">
    <style>
        div {
            width: 900px;
        }
    </style>
</head>
<body>
<div>
    <h2>新增房间</h2>
    <form class="form-horizontal" th:action="@{/room/add}" method="post">
        <div class="form-group">
            <label for="inputEmail2" class="col-sm-2 control-label">房间号：</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail2" name="roomId" required>
            </div>
        </div><br>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">房间状态:</label>
            <div class="col-sm-10">
                <select class="form-control" id="inputEmail3" name="status" required>

                    <option>请选择</option>
                    <option value="0">空房</option>
                </select>
            </div>
        </div><br>
        <div class="form-group">
            <label for="InputEmail4" class="col-sm-2 control-label">房间类型:</label>
            <div class="col-sm-10">
                <select class="form-control" id="InputEmail4" name="roomType">
                    <option>请选择</option>
                    <option value="0">单人间</option>
                    <option value="1">双人间</option>
                </select>
            </div>
        </div><br>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">确定</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>