<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>部门详情界面</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.css">
</head>
<body>
<div>
    <h2>部门详情</h2>
    <div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">部门编号:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" name="deptId" readonly
                       th:field="${dept.deptId}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail2" class="col-sm-2 control-label">部门名称:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail2" name="deptName" required
                       th:field="${dept.deptName}">
            </div>
        </div>
        <div class="form-group">
                <label for="inputEmail1" class="col-sm-2 control-label">部门状态:</label>
                <div class="col-sm-10">
                    <select name="status" th:field="${dept.status}" id="inputEmail1" th:switch="${dept.status}">
                        <option value="0" th:case="'0'" th:selected="selected">已撤除</option>
                        <option value="1" th:case="'1'" th:selected="selected">使用中</option>
                    </select>
                </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="info">
                <th>序号</th>
                <th>员工编号</th>
                <th>员工名称</th>
                <th>员工职位
                <th>相关操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${#lists.isEmpty(dept.empList)}">
                <td colspan="5" style="text-align: center">该部门下暂无员工</td>
            </tr>
            <tr th:each="item, status : ${dept.empList}">
                <td th:text="${status.count}"></td>
                <td th:text="${item.empId}"></td>
                <td th:text="${item.empName}"></td>
                <td th:text="${item.job == 0 ? '普通员工' : '经理'}"></td>
                <td>
                    <a href="" class="btn-warning btn">编辑</a>
                    <a href="" class="btn-danger btn">撤除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="history.go(-1)" class="btn btn-success">返回</button>
        <a th:href="@{'/dept/preUpdate/' + ${dept.deptId}}" class="btn-warning btn">编辑</a>
    </div>
</div>
</body>
</html>