<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>第一个Thymeleaf页面</title>
</head>
<body>
第一个Thymeleaf页面
<div>
    <h4>变量输出的语法</h4>
    <p th:text="${info}"></p>
    <p>
        <label>信息显示：
            <input type="text" th:value="${info}">
        </label>
    </p>
</div>
<div>
    <h4>和字符串相关的操作</h4>
<!--    调用的是内置对象 strings
        内置对象： s
        调用的时候 #
-->
<!--    用于判断变量是否为空-->
<!--    <p th:text="${#strings.isEmpty(info)}"></p>-->
<!--    用于判断变量的值中是否存在指定的字符-->
<!--    <p th:text="${#strings.contains(info, 'a')}"></p>-->
<!--    用于获取字符串的长度 -->
<!--    <p th:text="${#strings.length(info)}"></p>-->
<!--&lt;!&ndash;    用于截取指定位置的字符串&ndash;&gt;-->
<!--    <p th:text="${#strings.substring(info, 4)}"></p>-->
<!--&lt;!&ndash;    确定指定字符串出现的位置 下标&ndash;&gt;-->
<!--    <p th:text="${#strings.indexOf(info, 'a')}"></p>-->
<!--&lt;!&ndash;    大小写转换 &ndash;&gt;-->
<!--    <p th:text="${#strings.toUpperCase(info)}"></p>-->
<!--    <p th:text="${#strings.toLowerCase(info)}"></p>-->
</div>
<div>
    <h4>关于日期的相关操作</h4>
<!--    时间格式转换 ： 根据当前浏览器的语言环境进行转换，默认使用置顶的语言环境 -->
<!--    <p th:text="${#dates.format(current)}"></p>-->
<!--&lt;!&ndash;    时间格式转换： 根据给定的格式进行时间格式的转换 &ndash;&gt;-->
<!--    <p th:text="${#dates.format(current, 'yyyy-MM-dd HH:mm:ss')}"></p>-->
<!--&lt;!&ndash;    获取时间的部分 &ndash;&gt;-->
<!--    <p th:text="${#dates.year(current)}"></p>-->
<!--    <p th:text="${#dates.month(current)}"></p>-->
<!--    <p th:text="${#dates.day(current)}"></p>-->
</div>

<div>
    <h4>流程控制语句</h4>
<!--    <div>-->
<!--        条件判断语句中： if switch-->
<!--        <p th:if="${info} == 'page info'" th:text="${info}"></p>-->
<!--        <p th:if="${current} == 'page info'" th:text="${current}"></p>-->

<!--        <div th:switch="${info}">-->
<!--            <p th:case="'page'">page</p>-->
<!--            <p th:case="'pageinfo'">pageinfo</p>-->
<!--            <p th:case="'page info'">page info</p>-->
<!--        </div>-->
<!--    </div>-->
    遍历、循环
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>序号</th>-->
<!--                <th>部门编号</th>-->
<!--                <th>部门名称</th>-->
<!--                <th>部门状态</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr th:each="item, status : ${depts}">-->
<!--                <td th:text="${status.count}"></td>-->
<!--                <td th:text="${item.deptId}"></td>-->
<!--                <td th:text="${item.deptName}"></td>-->
<!--                <td th:text="${item.status == 1 ? '使用中' : '已撤除'}"></td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
<div>
    <h4>URL表达式</h4>
    <p>
        URL表达式的基本写法: @{} <br>
        绝对路径： <br>
        <a th:href="@{http://www.baidu.com}">去百度</a> <br>
        相对路径： <br>
        <a th:href="@{/thy/first}">相对于项目的跟路径进行的跳转</a> <br>
        <a th:href="@{thy/first}">相对于当前页面所在的路径进行的跳转</a> <br>
        <a th:href="@{~/projectName/url}">相对于当前服务器进行的跳转，可以跳转到当前服务器下的另一个项目中</a> <br>
        传递参数：<br>
        使用传统的方式传递参数，
        <a th:href="@{/thy/getInfo(uid = 1)}">使用传统的方式传递参数</a>
        <a th:href="@{/thy/getInfo(uid = 1, username = 'lisi')}">使用传统的方式传递参数</a>
        使用RESTful风格进项参数的传递
        <a th:href="@{/thy/getREST/1}">使用RESTful风格进行参数的传递</a>
        th:href  a标签、link标签等
        th:action form表单中的
        th:src script标签、img标签、video标签、audio标签
    </p>
</div>
</body>
</html>