<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>酒店管理系统</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.css">
</head>
<body>
<h2>酒店管理系统</h2>
<a href="/emp/showList" class="btn btn-primary btn-lg active center-block" role="button">员工管理</a>
<a href="/room/showList" class="btn btn-primary btn-lg active center-block" role="button">客房管理</a>
<a href="/cus/preAdd" class="btn btn-primary btn-lg active center-block" role="button">预约管理</a>
<a href="/che/showList" class="btn btn-primary btn-lg active center-block" role="button">入住管理</a>
</body>
</html>