<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>静态首页</title>
    <style>
        a {
            display: block;  /* 将行内元素转换成块级元素 */
            /*设置高和宽*/
            width: 500px;
            height: 100px;
            /*设置背景颜色*/
            background-color: cornflowerblue;
            /*字体颜色*/
            color: aliceblue;
            /*字体大小*/
            font-size: 40px;
            /*水平居中*/
            text-align: center;
            /*设置行高，垂直居中*/
            line-height: 100px;
        }
    </style>
</head>
<body>
静态首页 <br>
<a href="/thy/first"> 第一个Thymeleaf页面</a> <br>
<a href="/dept/showList">部门管理</a>
</body>
</html>