<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改员工信息界面</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.css">
</head>
<body>
<div>
    <h2>修改员工信息</h2>
    <form class="form-horizontal" th:action="@{/emp/update}" method="post" name="frm">
        <div class="form-group">
            <label for="inputEmail1" class="col-sm-2 control-label">员工编号:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail1" name="empId" readonly
                       th:value="${emp.empId}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail2" class="col-sm-2 control-label">员工名称:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail2" name="empName" required
                       th:value="${emp.empName}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">员工性别:</label>
            <div class="col-sm-10">
                <select class="form-control" id="inputEmail3" name="gender" required th:field="${emp.gender}">
                    <option value="男" th:selected="${emp.gender == '男' ? 'selected' : ''}">男</option>
                    <option value="女" th:selected="${emp.gender == '女' ? 'selected' : ''}">女</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail4" class="col-sm-2 control-label">出生年月:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputEmail4" name="birthday" required
                       th:field="${emp.birthday}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail5" class="col-sm-2 control-label">入职年月:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="inputEmail5" name="hiredate" readonly
                       th:field="${emp.hireDate}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">员工职位:</label>
            <div class="col-sm-10">
                <select class="form-control" id="inputEmail6" name="job" required th:field="${emp.job}">
                    <option value="0" th:selected="${emp.job == 0 ? 'selected' : ''}">普通员工</option>
                    <option value="1" th:selected="${emp.job == 1 ? 'selected' : ''}">部门经理</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">员工状态:</label>
            <div class="col-sm-10">
                <select class="form-control" id="inputEmail7" name="deptName" required th:field="${emp.status}">
                    <option value="0" th:selected="${emp.status == 0 ? 'selected' : ''}">离职</option>
                    <option value="1" th:selected="${emp.status == 1 ? 'selected' : ''}">在职</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-danger">确定</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    let btnObj = document.querySelector("button[type=button]");
    btnObj.onclick = function () {
        let result = confirm("确定需要执行修改吗？");
        if (result) {
            document.frm.submit();
        } else {
            alert("已取消修改的操作");
        }
    }
</script>
</body>
</html>